<!doctype html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <table class="striped">
        <colgroup>
            <col width="200">
        </colgroup>
        <tbody>
            <tr>
                <td>Hostname:</td>
                <td><b>{{ hostname }}</b></td>
            </tr>
            <tr>
                <td>Zone:</td>
                <td><b>{{ zone }}</b></td>
            </tr>
        </tbody>
    </table>
</body>
</html>